
:root { 
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #2F303A;


}


body{
    font-family: Roboto;
    font-style: normal;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);


}
/* цвет заголовков #212121 */
/* цвет текста #757575 #FFFFFF */
/* акцент #2196F3 */
/* основной фон #E5E5E5 */
/* второстепенный фон #2F303A */
/* фон команды #F5F4FA */
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}    /*header*/
.header{
    background-color: #fff;
}
.conteiner{
    width: 1200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    
    

}



.header-flex{
    display: flex;
}
.nav-flex{
    display: flex;
}
ul, a{
    list-style: none;
    text-decoration: none;
}
.logo-one{
    display: flex;
    align-items: center;
    margin-right: 93px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color) ;
    text-decoration: none;
    

}
.logo-one:hover,
.logo-one:focus{
 color: var(--accent-color);
}
.logo{
    color: var(--accent-color);

}
.list-header{
    display: flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.item-header:not(:last-child){
    margin-right: 50px;
}
.item-open{ 
    display: block;
    padding: 32px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    
}
.item-open:focus, 
.item-open:hover{
    color: var(--accent-color);
}
.item-open.open{
    color: var(--accent-color);

}
.item-open.open:hover,
.item-open.open:focus{
    color: var(--primary-text-color);

}
.contact-header{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-link:not(:last-child){
    margin-left: auto;
    margin-right: 50px;
}
.contact-link{
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
/* main */
.main-top .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-top{

    margin: 0px;
    padding: 200px 0;
    
    background-color: var(--secondary-bg-color);

}
.main-text{
 

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #fff;
    margin-bottom: 30px;
}
.buton-top{

    display: inline-block;
    padding: 10px 0px;
    margin-right: auto;
    margin-left: auto;
    
 
 
    text-align: center;
    border: none;

    border-radius: 4px;
    min-width: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;

    background-color: var(--accent-color);
    color: #fff;
    

}
.sidebar{
    padding-top: 94px;
}
.sidebar .conteiner{
    display: flex;

    align-items: center;

}
.sidebar-list{
    display: flex;

    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}
.sidebar-title{
    display: inline-block;
    

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);

}
.sidebar-item{
    width: 270px;
}
.sidebar-item:not(:last-child){
    margin-right: 30px;
}
.sidebar-text{
    display: inline-block;
    margin-top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;

}

.image-section .conteiner{
        display: flex;
    flex-direction: column;
    align-items: center;
}
.image-tutle{
    
    margin-bottom: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

}
.image{display: flex;
    justify-content: space-around;


    padding: 0px;
    margin-bottom: 0px;


}
.image-list{
    display: inline-block;
    padding-bottom: -4px;
}
.image-list:not(:last-child){
    margin-right: 30px;
}
.image-section{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;

}
/* mambers list */
.member-section .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.member-section{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #f5f4f4;
}
.mambers-title{


    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);


}
.list-mambers{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 50px;

}
.list-mambers li:not(:last-child){
    margin-right: 30px;
}
.list-mambers li{
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.item-name{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.item-text{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:  var(--secondary-bg-color);

}
.logo-one-footer{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
}
.logo-footer{
    color: var(--accent-color);;

}
.footer .conteiner{
    display: flex;
    flex-direction: column;
}

.footer address{

    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    

    color: #fff;
}
.footer-list{
    margin: 0;
    padding: 0;
}
.footer-list li{

    margin-top: 9px;

}
.footer-link{



    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

/* портфолио */
.port-body{
    background-color: #fff;
}
.port-body .header{
    border-bottom: 1px solid #ECECEC;
}
.port-btn-section{
    display: flex;
    padding: 94px 0;
}


.port-btn-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;

    padding: 0px;

}
.btn-list:not(:last-child){
padding-right: 8px;
}

.btn{

    padding: 6px 22px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 1px solid transparent;
}
.btn:not(:last-child){
    margin-right: 8px;
}
.btn:focus,
.btn:hover{

    background-color: var(--accent-color);
    color: #fff
}
.port-list{
    display: flex;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;


}
.port-image-box{
padding: 20px 24px;

}
.port-list li{
    background-color: #fff;
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;

}
.port-list li:nth-child(3n+2){

margin-left: 27px;
margin-right: 27px;


}
.port-list li:nth-last-child(-n+3){
    margin-bottom: 0;
}

.port-image{
    margin: 0px;
    padding: 0px;


}


.port-item{

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color)
}
.port-text{
    margin-top: 4px;


    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

